* {
    margin: 15px;
    padding: 0;
    box-sizing: border-box;
    color: #0f143b;
  }

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #2f4427;
  }

.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 25% 5% 3% 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero h2 {
    background-color: #64854e;
    padding: 2px;
}

header {
    padding: 0px 30px 20px 0;
    background-color: #424242;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    background-color: #64854e;
    color: #282726;
    padding: 5px 5px 5px 100px;
    font-weight: bold;
    font-size: 40px;
    margin:0;
}

header a {
    text-decoration: none;
    color: #64854e;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    padding: 0 5px 5px 5px;
    border-bottom: 3px solid;
    font-size: 22px;
}

header nav ul li a:hover {
    background-color: #64854e;
    color: #424242;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 20px;
}

.section-title {
    width: 20%;
    border-right: 3px solid;
    text-align: right;
    padding-right: 15px;
    font-size: 36px;
    padding: 0 20px;
}

.details {
    width: 60%;
    padding-left: 25px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.about div {
    line-height: 1.7;
}

.work-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 15px;
}

.work-grid-item {
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    border: 3px solid #64854e;
    padding: 25% 0 15px 0;
    opacity: 75%;
}

.work-grid-item:hover {
    opacity: 100%;
}

.item1 {
    background-image: url("../images/Weed It & Reap.png");
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.item2 {
    background-image: url("../images/RefectoredCode.png");
}

.item3 {
    background-image: url("../images/WelcomeSession.png");
}

.item4 {
    background-image: url("../images/CareerPortfolio.png");
}

.item5 {
    background-image: url("../images/RunBuddy.png");
}

.item-description {
    background-color: #64854e;
    line-height: 0;
}

.item-description h4 {
    font-weight: bold;
    color: #424242;
}

.contact {
    align-items: center;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-info ul li {
    border-bottom: 5px solid;
    font-size: 20px;
}

footer {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

@media screen and (max-width: 980px) {
    header {
       justify-content: center;
        position: relative;
    }

    header h1 {
        width: 300px;
        text-align: center;
        padding: 5px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    header {
        justify-content: center;
    }

    .details {
        padding: 0;
        width: 80%;
    }

    .section-title {
        text-align: center;
        flex: 50%;
        border-right: none;
        border-bottom: 3px solid;
    }

    header h1 {
        padding: 5px;
        text-align: center;
    }

    header nav ul li a {
        margin-bottom: 20px;
        line-height: 1.8;
    }

    .about div {
        text-align: center;
    }
}

@media screen and (max-width: 575px) {
    header {
        justify-content: center;
    }

    header h1 {
        padding: 5px;
        text-align: center;
    }

}